page {
  background-color: #fff;
}

.index {
  // index style
  .at-tabs__header {
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .at-tabs-pane {
    padding-top: 48Px;
  }
}

