page {
  background-color: #fff;
}

.index-list {
  .scroll-view {
    height: 100vh;
    // padding-top: 60Px;
  }
  .list-container {
    margin-top: 16Px;
    padding: 0 20Px 16Px;
    min-height: 100vh;
  }
  // min-height: 100vh;
  // padding: 16Px 0Px;
  .index-list-item {
    display: flex;
    align-items: center;
    height: 56Px;
    justify-content: space-between;
    border-bottom: 1Px solid #e0e0e0;
    image {
      width: 40Px;
      height: 40Px;
      border-radius: 20Px;
      border: 1Px solid #e8e8e8;
    }
    text {
      font-size: 14Px;
      line-height: 20Px;
      color: #9e9e9e;
    }
  }
  .no-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -59Px;
    .no-img {
      width: 70Px;
      height: 70Px;
    }
    .no-p {
      font-size: 14Px;
      margin: 18Px 0 8Px 0;
      color: #000;
    }
  }
}