.card {
  // card style
  font-size: 14Px;
  padding: 8Px 12Px 0;
  border-bottom: 1px solid #e8e8e8;
  // width: 100vw;

  .card-title {
    color: #000;
  }

  .card-desc {
    display: inline-block;
    margin-top: 6Px;
    margin-bottom: 6Px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp:2;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: rgba(0, 0, 0, .45);
  }
}