.header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60Px;
    background: rgba(0, 0, 0, 1);
    
    padding: 0 24Px 0 16Px;
    .logo {
        position: absolute;
        left:16Px;
        top:15Px;
        width: 78Px;
        height: 30Px;
    }
    .info {
        position: absolute;
        right:30Px;
        top:21Px;
        font-size: 14Px;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        display: flex;
    }
    .qcz-img {
        width: 24Px;
        height: 24Px;
        margin-right: 24Px;
    }
}