page {
  background-color: #f0f0f0;
}

.course-detail {
  .course-img {
    width: 100%;
    height: 225Px;
    display: block;
  }
  .middle {
    padding-bottom: 12Px;
  }
  .info {
    // margin-top: -10Px;
    background-color: #fff;
    padding: 20Px 18Px;
    position: relative;
  }
  .info-h3 {
    font-weight: bold;
    font-size: 20Px;
    margin-bottom: 12Px;
    width: 80%;
    word-break: break-all;
    line-height: 24Px;
    display: block;
  }
  .info-status {
    position: absolute;
    right: 16Px;
    top: 20Px;
    display: block;
    width: 63Px;
    height: 25Px;
    line-height: 25Px;
    color: #fff;
    background-color: #35A8F4;
    text-align: center;
    font-size: 14Px;
    font-weight: bold;
    border-radius: 12Px;
  }
  .info-p {
    font-size: 12Px;
    color: #999;
    margin-bottom: 16Px;
    display: block;
  }
  .info-span-wrapper {
    margin-bottom: 8Px;
  }
  .info-span {
    font-size: 14Px;
    display: inline-block;
    line-height: 20Px;
    vertical-align: top;
  }
  .info-span-first {
    color: #999;
    width: 24%;
    min-width: 72Px;
  }
  .info-span-last {
    width: 76%;
  }
  .enroll {
    background-color: #fff;
    padding: 20Px 18Px;
    border-top: 1Px solid #e0e0e0;
    text-align: center;
  }
  .enroll-header {
    margin-bottom: 14Px;
    display: flex;
    justify-content: space-between;
  }
  .enroll-avatars {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5Px;
    width: 100%;
    // justify-content: space-between;
  }
  .enroll-text {
    display: block;
    margin-top: 12Px;
    line-height:20Px;
    font-size:14Px;
    color: #999;
  }
  .enroll-avatars-img {
    width: calc((100vw - 40Px)/8);
    height: calc((100vw - 40Px)/8);
    border-radius: calc((100vw - 40Px)/16);
    margin: 0 3Px 12Px;
    border: 1Px solid #999;
  }
  .enroll-h5 {
    color: #000;
    font-size: 16Px;
    font-weight: bold;
  }
  .organ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 12Px;
    image {
      width: 160Px;
      height: 64Px;
    }
  }
  .organ-header {
    // height: 60Px;
    // line-height: 60Px;
    // text-align: center;
    margin: 12Px 0 12Px;
  }
  .organ-text {
    font-size: 12Px;
    color: #ccc;
    vertical-align: -3Px;
    margin: 0 12Px;
  }
  .organ-line {
    display: inline-block;
    width: 80Px;
    border-top: 1px solid #ccc;
  }
  .detail {
    padding: 20Px 18Px;
  }
  .detail-h5 {
    // color: #939393;
    color: #000;
    font-size: 16Px;
    font-weight: bold;
    margin-bottom: 14Px;
    display: block;
  }
  .detail-div {
    // background-color: #fff;
    // padding: 12Px 15Px;
  }

  .wechat-wrapper {
    background-color: #000;
    color: #fff;
    padding: 16Px 20Px;
    display: flex;
    align-items: center;

    .wechat-img {
      width: 48Px;
      height: 36Px;
      margin-right: 12Px;
    }
    .wechat-keyword {
      display: block;
      font-size: 12Px;
      line-height: 20Px;
    }
  }

  .resource {
    padding: 0 18Px 12Px;
    
    .resource-item {
      background-color: #fff;
      height: 56Px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 8Px;
      padding: 10Px;
      overflow: hidden;

    }
    .resource-item.disabled {
      opacity: 0.4;
    }
    .resource-hint {
      display: block;
      background-color: #3498DB;
      color: #fff;
      font-size: 12Px;
      line-height: 20Px;
      padding: 8Px 12Px;
      margin-bottom: 12Px;
    }
    .resource-img {
      display: inline-block;
      width: 36Px;
      height: 36Px;
      margin-right: 12Px;
      flex-shrink: 0;
    }
    .resource-title {
      font-size: 14Px;
    }
  }

  .apply {
    position: fixed;
    bottom:0;
    left: 0;
    right:0;
    width:100%;
    height:52Px;
    background:rgba(52,152,219,1);
    line-height:52Px;
    text-align: center;
    font-size:14Px;
    font-weight:600;
    color:rgba(255,255,255,1);
    letter-spacing: 1Px;
  }

  .apply.apply-end {
    background-color: #3A3A3A;
  }

  .sign-modal {
    .at-modal__container {
      border-radius: 0;
      width: 310Px;
    }
    .at-modal-content {
      padding: 56Px 56Px 54Px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    image {
      width: 58Px;
      height: 69Px;
      margin-bottom: 24Px;
    }
    .modal-h4 {
      font-size: 20Px;
      margin-bottom: 12Px;
      display: block;
    }
    .modal-p {
      font-size: 14Px;
      display: block;
      text-align: center;
      line-height: 20Px;
    }
    .modal-btn {
      line-height: 1.8;
      margin-top: 20Px;
      font-size: 14Px;
      color: #fff;
      width: 160Px;
      padding: 12Px 0;
      border: none;
      color: #fff;
      border-radius: 0;
      background-color: #000;
    }
  }

  .apply-modal {
    .at-modal__container {
      border-radius: 0;
      width: 310Px;
    }
    .at-modal-content {
      padding:16Px 24Px;
    }
  }

  .close-button{
    text-align: right;
  }
  .info-title{
    text-align: center;
    font-size:20Px;
    font-weight:500;
    color:rgba(0,0,0,1);
    line-height:28Px;
    margin-bottom: 50Px;
  }
  .user-info {
    padding: 0 4Px;
    View {
      width: 100%;
      height: 44Px;
      border-bottom: 1Px solid #f0f0f0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14Px;
    }
    .empty{
      color: #bcbcbc;
    }
  }
  .edit-info{
    input{
      font-size: 14Px;
    }
    font-size: 14Px;
    .input-wraper{
      position: relative;
      border-bottom:0.5Px solid #F0F0F0;

      .input{
        // margin-top:2Px;
        border:none;
        outline: none;
      }

      .input-disabled {
        background-color: rgba(102,102,102,0.1);
        padding-left: 12Px;
        color: #000;
        border-bottom: 1px solid #e0e0e0;
      }
    }
    .verify-text{
      position: absolute;
      right:0;
      top:50%;
      font-size:12Px;
      font-weight:600;
      color:rgba(58,206,177,1);
    }
    .at-input--disabled {
      opacity: 0.6;
    }
  }

  .no-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
    .no-img {
      width: 70Px;
      height: 70Px;
    }
    .no-p {
      font-size: 14Px;
      margin: 18Px 0 8Px 0;
      color: #000;
    }
    .no-span {
      font-size: 12Px;
      color: #7c7c7c;
    }
  }

  .operate{
    margin-top: 80Px;
    width:100%;
    // height:44Px;
    text-align: center;
    font-size:14Px;
    font-weight:400;
    line-height:44Px;
    .operate-submit {
      border: none;
      border-radius: 0;
      background-color: #000;
      color: white;
      display: block;
    }
    .operate-edit {
      margin: 0 24Px;
      background-color: #000;
      color: white;
      display: block;
    }
    .operate-quit {
      color: black;
      display: block;
      margin-bottom: 12Px;
    }
  }
  .operate.first {
    margin-top: 56Px;
  }
  // .disable{
  //   opacity: 0.6;
  // }
}