view,scroll-view,swiper,swiper-item,movable-area,movable-view,cover-view,cover-image,icon,text,rich-text,progress,button,checkbox-group,checkbox,form,input,label,picker,picker-view,radio-group,radio,slider,switch,textarea,navigator,functional-page-navigator,image,video,camera,live-player,live-pusher,map,canvas,open-data,web-view,ad{
  box-sizing: border-box;
}

/* 图片下边空隙问题 */
image {
  display: block;
}
.input.input-disabled {
  background-color: rgba(102,102,102,0.1);
  padding-left: 12Px;
  color: #000;
  border-bottom: 1px solid #e0e0e0;
}
.input-inchain.at-input::after {
  content: none;
}
.wxParse-li .wxParse-li-text{
  // line-height: auto;
}

.wxparser--ql-indent-1 {
  padding-left: 3em;
}
.wxparser--ql-indent-2 {
  padding-left: 6em;
}
.wxparser--ql-indent-3 {
  padding-left: 9em;
}
.wxparser--ql-indent-4 {
  padding-left: 12em;
}
.wxparser--ql-indent-5 {
  padding-left: 15em;
}
.wxparser--ql-indent-6 {
  padding-left: 18em;
}
.wxparser--ql-indent-7 {
  padding-left: 21em;
}
.wxparser--ql-indent-8 {
  padding-left: 24em;
}
.wxparser--ql-indent-9 {
  padding-left: 27em;
}
.wxparser--ql-bg-black {
  background-color: #000;
}
.wxparser--ql-bg-red {
  background-color: #e60000;
}
.wxparser--ql-bg-orange {
  background-color: #f90;
}
.wxparser--ql-bg-yellow {
  background-color: #ff0;
}
.wxparser--ql-bg-green {
  background-color: #008a00;
}
.wxparser--ql-bg-blue {
  background-color: #06c;
}
.wxparser--ql-bg-purple {
  background-color: #93f;
}
.wxparser--ql-color-white {
  color: #fff;
}
.wxparser--ql-color-red {
  color: #e60000;
}
.wxparser--ql-color-orange {
  color: #f90;
}
.wxparser--ql-color-yellow {
  color: #ff0;
}
.wxparser--ql-color-green {
  color: #008a00;
}
.wxparser--ql-color-blue {
  color: #06c;
}
.wxparser--ql-color-purple {
  color: #93f;
}
.wxparser--ql-font-serif {
  font-family: Georgia, Times New Roman, serif;
}
.wxparser--ql-font-monospace {
  font-family: Monaco, Courier New, monospace;
}
.wxparser--ql-size-small {
  font-size: 0.75em;
}
.wxparser--ql-size-large {
  font-size: 1.5em;
}
.wxparser--ql-size-huge {
  font-size: 2.5em;
}
.wxparser--ql-direction-rtl {
  direction: rtl;
  text-align: inherit;
}
.wxparser--ql-align-center {
  text-align: center;
}
.wxparser--ql-align-justify {
  text-align: justify;
}
.wxparser--ql-align-right {
  text-align: right;
}
.wxparser--ql-embed-selected {
  border: 1px solid #777;
  user-select: none;
}
.wxParser.ql-blank::before {
  color: rgba(0,0,0,0.6);
  content: attr(data-placeholder);
  font-style: italic;
  pointer-events: none;
  position: absolute;
}